/* null styles*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
				padding: 0;
				margin: 0;
				border: 0;
}

*, *:before, *:after {
				box-sizing: border-box;
}

:focus, :active {
				outline: none;
}

a:focus, a:active {
				outline: none;
}

nav, footer, header, aside {
				display: block;
}

html, body {
				height: 100%;
				width: 100%;
				font-size: 100%;
				line-height: 1;
				font-size: 14px;
				-ms-text-size-adjust: 100%;
				-moz-text-size-adjust: 100%;
				-webkit-text-size-adjust: 100%;
}

input, button, textarea {
				font-family: inherit;
}

input::-ms-clear {
				display: none;
}

button {
				cursor: pointer;
}

button::-moz-focus-inner {
				padding: 0;
				border: 0;
}

a, a:visited {
				text-decoration: none;
}

a:hover {
				text-decoration: none;
}

ul li {
				list-style: none;
}

img {
				vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
				font-size: inherit;
				font-weight: 400;
}

/*--------------------*/
body {
				font-family: Roboto;
}

.container {
				min-width: 1140px;
				margin: 0px auto;
}

.waiting_line, .finish_line {
				display: block;
				width: 217px;
				height: 4px;
				background-color: #f9bf3b;
				border-radius: 2px;
				margin: 0px auto;
				margin-top: 18px;
				margin-bottom: 15px;
}

.btn {
				width: 313px;
				height: 72px;
				box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.18);
				background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
				text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
				color: #ffffff;
				font-family: Roboto;
				white-space: 700px;
				font-size: 21px;
				font-weight: 400;
				line-height: 24px;
				text-transform: uppercase;
				display: block;
				margin: 0px auto;
}

.promo {
				min-height: 800px;
				padding: 39px 0px 62px 0px;
				background: url("../img/bg1.png");
}
.promo .logo img {
				display: block;
				margin: 0px auto;
}
.promo .logo .logo_text {
				color: #ffffff;
				font-family: Roboto;
				font-size: 14px;
				font-weight: 500;
				text-transform: uppercase;
				text-align: center;
				margin-top: 14px;
				margin-bottom: 53px;
}
.promo .titles {
				text-align: center;
}
.promo .titles .title {
				color: #f9bf3b;
				font-family: Roboto;
				font-size: 41px;
				font-weight: 400;
				text-transform: uppercase;
				margin-bottom: 23px;
}
.promo .titles .title_big {
				color: #ffffff;
				font-family: Roboto;
				font-size: 80px;
				font-weight: 400;
				line-height: 24px;
				text-transform: uppercase;
				margin-bottom: 30px;
}
.promo__text {
				color: #ffffff;
				font-family: Roboto;
				font-size: 21px;
				font-weight: 300;
				line-height: 28px;
				text-align: center;
				margin-bottom: 73px;
}
.promo__text span {
				color: #f9bf3b;
				font-family: Roboto;
				font-weight: 700;
}
.promo .promo__finish {
				color: #ffffff;
				font-family: Roboto;
				font-size: 15px;
				text-transform: uppercase;
				text-align: center;
				margin-top: 73px;
}
.promo .promo__finish .arrow {
				margin-top: 14px;
}

.waiting {
				min-height: 604px;
				background-color: #efefef;
				padding: 84px 0px 75px 0px;
}
.waiting .waiting_header {
				color: #252525;
				font-size: 30px;
				text-transform: uppercase;
				text-align: center;
}
.waiting .waiting_subheader {
				color: #4a4a4a;
				font-size: 23px;
				text-align: center;
}
.waiting .waiting_wrapper {
				margin-top: 45px;
}
.waiting .waiting_wrapper .waiting_item {
				display: inline-block;
				width: 339px;
				vertical-align: top;
				margin-right: 48px;
}
.waiting .waiting_wrapper .waiting_item img {
				margin-bottom: 30px;
}
.waiting .waiting_wrapper .waiting_item:last-child {
				margin-right: 0px;
}
.waiting .waiting_wrapper .waiting_descr {
				color: #4a4a4a;
				font-size: 15px;
				font-weight: 300;
				line-height: 21px;
				text-align: center;
}

.optimization {
				height: 550px;
				padding: 102px 0px 107px 0;
				position: relative;
				background: white;
				z-index: -2;
}
.optimization .optimization_header {
				color: #299cbd;
				font-weight: 700;
				font-size: 29px;
				text-transform: uppercase;
				margin-left: 339px;
				margin-bottom: 20px;
}
.optimization .optimization_info {
				color: #4a4a4a;
				font-size: 17px;
				font-weight: 300;
				line-height: 27px;
				width: 760px;
				margin-left: 339px;
				padding: 0px 1px;
}
.optimization .optimization_info p {
				margin-bottom: 11px;
}
.optimization .optimization_info .bold_text {
				font-weight: 700;
}
.optimization .optimization_img {
				position: absolute;
				top: 48px;
				left: -240px;
				z-index: -1;
}

.finish {
				background: url("../img/bg2.png") no-repeat;
				height: 447px;
				padding: 87px 0px 79px 0px;
}
.finish .finish_header {
				color: #efefef;
				font-size: 30px;
				font-weight: 400;
				text-transform: uppercase;
				text-align: center;
}
.finish .finish_wrapper {
				margin-top: 41px;
				display: flex;
				justify-content: space-between;
}
.finish .finish_wrapper .finish_item {
				width: 204px;
}
.finish .finish_wrapper .finish_item .item_text {
				color: #efefef;
				font-size: 17px;
				font-weight: 300;
				line-height: 20px;
				margin-top: 25px;
				text-align: center;
}
.finish .finish_wrapper .finish_item .finish_round {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 115px;
				height: 115px;
				background-color: #b4e2ff;
				border-radius: 100%;
				margin: 0px auto;
}

.gift {
				background: #efefef;
				height: 628px;
				padding-top: 86px;
}
.gift .gift-box img {
				display: block;
				margin: 0px auto;
}
.gift .gift-box .lent {
				position: relative;
				left: 10px;
}
.gift .gift_text {
				margin-top: 35px;
				color: #252525;
				font-size: 30px;
				font-weight: 400;
				line-height: 43px;
				text-align: center;
				margin-bottom: 10px;
}

.end {
				padding: 82px 0px 64px 0px;
}
.end .end_computer img {
				display: block;
				margin: 0px auto;
}
.end .end_text {
				text-align: center;
}
.end .end_text .first {
				color: #252525;
				font-size: 30px;
				text-transform: uppercase;
				margin-bottom: 22px;
				margin-top: 37px;
}
.end .end_text .second {
				color: #299cbd;
				font-size: 36px;
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: 18px;
}
.end .end_text .third {
				color: #4a4a4a;
				font-size: 23px;
				font-weight: 400;
}

.footer {
				height: 166px;
				background-color: #1a1a1a;
				padding: 61px 0px 69px 0px;
}
.footer .footer_text {
				text-align: center;
}
.footer .footer_text .footer_link, .footer .footer_text .line {
				color: #888888;
				font-size: 15px;
				font-weight: 300;
				line-height: 21px;
				text-decoration: underline;
				margin-bottom: 10px;
}
.footer .footer_text .number {
				color: #888888;
}

@media screen and (max-width: 1200px) {
				.container {
								max-width: 970px;
				}
}
@media screen and (max-width: 992px) {
				.container {
								max-width: 750px;
				}
}
@media screen and (max-width: 967px) {
				.container {
								max-width: none;
				}
}